* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #b388ff;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px;
    background: white;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Sections */
section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

/* Skills */
.skills span {
    display: inline-block;
    background: #b388ff;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

/* Projects */
.project-card {
    background: #eee;
    padding: 15px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}